
body{

  margin:0;
	padding:0;
	border:0;
  background: linear-gradient(to left,  #F5F7F6 ); 
}


.row1{
    width: 95%;
    margin: 60px auto;
    margin-left: 80PX;
   
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.col-images{
    width: 80%;
    height: 200px;
    object-fit: contain;
}

.col1{
    flex-basis: 300px;
    flex-grow: 2;
    max-width: 450px;
    

}

.row1 .col3 {
    flex-basis: 200px;
    max-width: 200px;
}

.row1 .col4{
    flex-basis: 200px;
    max-width: 200px;
}




.row2 .col1 {
    flex-basis: 200px;
    max-width: 200px;
}


.row3 {
    width: 95%;
    margin: 20px auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.row3 .col2 {
    flex-basis: 200px;
    max-width: 400px;
    flex-grow: 1;
}



div.slide{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
     width: 100%;
     height: 400px;
}



.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 60px;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

